body {
	background-color: #4B0082;
	color: #fff;
	text-align: center;
  margin-top: 20%;
}

img {
  margin-bottom: %;
  }


.botoes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.saiba-mais, .em-breve {
	display: inline-block;
	background-color: #fff;
	color: #4B0082;
	padding: 10px 20px;
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-weight: bold;
}

.em-breve {
	background-color: #8a5daa;
	color: #fff;
}

footer {
text-align: center;
position: fixed;
width: 100%;
bottom: 0;
}
